h1, h2 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

section {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 33%;
	height: 300px;
	background-color: lightblue;
}

ol {
	height:225px;
	overflow: scroll;
}

ul {
	margin-bottom: 20px;
}

footer {
	display: flex;
	margin: 40px;
}

button {
	margin-left: auto;
	margin-right: auto;
}

.review1 em{
	color: red;
}

.review2 em{
	color: orange;
}

.review3 em{
	color: yellow;
}

.review4 em{
	color: green;
}

.review5 em{
	color: blue;
}
